* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.category {
  padding: 40px 20px 20px 20px;
  position: relative;
  border: 1px solid black;
  margin-bottom: 10px;
}

@media (min-width: 992px) {
  .category {
    width: 31.33%;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .category.chicken,
  .category.beef {
    width: 48%;
    margin-right: 2%;
    float: left;
  }
  .category.sushi {
    width: 98%;
    clear: left;
  }
}
.category > h3 {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 5px 10px;
  border: 1px solid black;
}
.chicken {
  background-color: #ffebee;
}
.chicken h3 {
  background-color: #c5cae9;
}

.beef {
  background-color: #c5cae9;
}

.beef h3 {
  background-color: #f3e5f5;
}

.sushi {
  background-color: #f3e5f5;
}

.sushi h3 {
  background-color: #ffebee;
}
